@model IEnumerable<FoodManagement2.Models.User>


<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.U_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.U_PASSWORD)
            </th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            foreach (var i in Model)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => i.U_NAME)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => i.U_PASSWORD)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@i.U_ID" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@i.U_ID" class="btn btn-success">Details</a>
                            <a asp-action="Delete" asp-route-id="@i.U_ID" class="btn btn-warning">Delete</a>
                        </td>
                    </tr>
            }
        }
      
    </tbody>
</table>
