@model FoodManagement2.Models.Order


<h1>Details</h1>
<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ORDER_QTY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ORDER_QTY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PRICE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.O_ID" class="btn btn-danger">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>